body{
    background-image: url("bo.jpg");
     background-position: center;
    background-repeat:  repeat;
    background-size: contain ;
    
}
.a{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  .bb{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  .cc{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  .dd{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  .ee{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
textarea{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.gg{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  } 
  .FF{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;

  }
.hh{
  margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
.kk{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;  
}
.ll{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;  
}
.mm{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;  
}
.nn{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;sss
}
.oo{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;sss 
}
.pp{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;sss 
}
.qq{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;sss
}
.rr{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;sss
}
.SS{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;sss
}